# Elastic Beanstalk – API

option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeVersion: 22.22.3
  aws:elasticbeanstalk:application:environment:
    PORT: "3001"
    NODE_ENV: production
  aws:autoscaling:launchconfiguration:
    InstanceType: t3.small
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
  aws:elasticbeanstalk:environment:
    EnvironmentType: LoadBalanced
    LoadBalancerType: application
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced